[display_data _default_20x4 printing_time]
position: 2, 14
text:
  {% set ptime = printer["gcode_macro M73"].r %}
  ~clock~
  { "%02d:%02d" % (ptime // 60, ptime % 60) }


[display_data _default_20x4 my_layers]
position: 2, 0
text:
  { "%-0.0f/%-0.0f" % (printer.print_stats.info.current_layer|default(0)|int, printer.print_stats.info.total_layer|default(0)|int) }
# { render("_heater_temperature", param_heater_name="extruder") }


[display_data _default_20x4 print_progress]
position: 2, 9
text:
  {% if 'virtual_sdcard' in printer and printer.virtual_sdcard.progress %}
    ~sd~
  {% else %}
    ~usb~
  {% endif %}
  { "{:^4.0%}".format(printer.display_status.progress) }
# Display layer info on second row
#[display_data _default_20x4 extruder1]
#position: 1, 0
#text:
  #{% set current = printer.print_stats.info.current_layer|default(0)|int %}
  #{% set total = printer.print_stats.info.total_layer|default(0)|int %}
#  { "%4d/%4d" (1, 1) }


[display_data _default_20x4 speed_factor]
position: 1, 0
text:
  ~feedrate~
  { "{:^4.0%}".format(printer.gcode_move.speed_factor) }

[gcode_macro M73]
rename_existing: M773
variable_p: 0.0
variable_r: 0.0
#default_parameter_P: 0.0
#default_parameter_R: 0.0
gcode:
    {% if ('P' in params) %}
      M773 P{p}
      {% set p = params.P|default(0)|float %} 
      SET_GCODE_VARIABLE MACRO=M73 VARIABLE=p VALUE={p}
    {% endif %}
    {% if ('R' in params) %}
      {% set r = params.R|default(0)|float %} 
      SET_GCODE_VARIABLE MACRO=M73 VARIABLE=r VALUE={r}
    {% endif %}

