# This file is an example config file for linear delta style printers.
# One may copy and edit this file to configure a new delta printer.

# DO NOT COPY THIS FILE WITHOUT CAREFULLY READING AND UPDATING IT
# FIRST. Incorrectly configured parameters may cause damage.
# [include client.cfg]

# Include printer defaults
[include defaults.cfg]

[printer]
kinematics: delta
#delta_radius: 174.1            # This parameter must be provided. Radius (in mm) of the horizontal circle formed by the three linear axis towers. 
print_radius: 125.0             # Põhimõtteliselt on suuteline 150 ehk 300 läbimõõduga ringi tegema.
minimum_z_position: -15         # If you want to DELTA_CALIBRATE you may need that. The minimum Z position that the user may command the head to move to. The default is 0.
max_velocity: 5000              # max_velocity: 5000 (võib olla ilmselt rohkem, ta lihtsalt ei kiirenda ära siin
max_accel: 3600                 # max_accel: 3600 (see on selline piirilähedane)
max_z_velocity: 200             # For delta printers this limits the maximum velocity (in mm/s) of moves with z axis movement. 

[extruder]                      # Extruder üle 5mm/sec hakkama ei saa.
nozzle_diameter: 0.400
filament_diameter: 1.750
min_extrude_temp: 150
min_temp: 0
max_temp: 275
rotation_distance: 6.744752
pressure_advance: 0.485

[heater_bed]
min_temp: 0
max_temp: 130

# if you want to use your probe for DELTA_CALIBRATE you will need that
[probe]
x_offset: -10.2544
y_offset: -9.59265
#z_offset = 6.127
samples: 3

# Bed Mesh Calibration
[include delta_calibrate.cfg]

# MACROS
[include makrod/base.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 42.362
#*# pid_ki = 3.173
#*# pid_kd = 141.382
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.709
#*# pid_ki = 0.674
#*# pid_kd = 1505.131
#*#
#*# [probe]
#*# z_offset = 6.180
#*#
#*# [printer]
#*# delta_radius = 172.305647
#*#
#*# [stepper_a]
#*# angle = 210.762635
#*# arm_length = 335.500000
#*# position_endstop = 302.362397
#*#
#*# [stepper_b]
#*# angle = 330.210854
#*# arm_length = 335.500000
#*# position_endstop = 303.821684
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 335.500000
#*# position_endstop = 302.617332
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.135570, 0.135570, 0.135570, 0.135570, 0.135570
#*# 	  -0.018956, -0.018956, 0.020217, 0.120450, 0.120450
#*# 	  -0.081319, 0.011584, 0.007523, 0.089184, 0.247879
#*# 	  -0.002213, -0.002213, 0.002753, 0.011233, 0.011233
#*# 	  0.102793, 0.102793, 0.102793, 0.102793, 0.102793
#*# tension = 0.2
#*# min_x = -110.0044
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = -110.00265
#*# x_count = 5
#*# max_y = 109.99735
#*# mesh_x_pps = 2
#*# max_x = 110.0056
#*#
#*# [delta_calibrate]
#*# height0 = 0.0
#*# height0_pos = 30252.000,30348.000,30280.000
#*# height1 = 0.0
#*# height1_pos = 36276.000,36312.000,26099.000
#*# height2 = 0.0
#*# height2_pos = 29083.000,40033.000,29058.000
#*# height3 = 0.0
#*# height3_pos = 26320.000,35360.000,35303.000
#*# height4 = 0.0
#*# height4_pos = 28968.000,29098.000,37031.000
#*# height5 = 0.0
#*# height5_pos = 34397.000,26724.000,34479.000
#*# height6 = 0.0
#*# height6_pos = 38379.000,29096.000,29020.000
