############################################
# My printer macros
# Raoul Lattemae
# 
# Based on:
#   https://www.reddit.com/r/klippers/comments/m57iai/mom_my_overpowered_m600_command/
#   kiauh_macros.cfg
# 
# v1.0 - 10.04.2022
############################################

# Optional configuration items
#[gcode_arcs]            # Enable G1 and G2 arc
#[pause_resume]
# The following commands are available when the pause_resume config section is enabled:
# PAUSE¶
# 
# PAUSE: Pauses the current print. The current position is captured for restoration upon resume.
# RESUME¶
# 
# RESUME [VELOCITY=<value>]: Resumes the print from a pause, first restoring the previously captured position. 
# The VELOCITY parameter determines the speed at which the tool should return to the original captured position.
# CLEAR_PAUSE¶
# 
# CLEAR_PAUSE: Clears the current paused state without resuming the print. This is useful if one decides to cancel 
# a print after a PAUSE. It is recommended to add this to your start gcode to make sure the paused state is fresh for each print.
# CANCEL_PRINT¶
# 
# CANCEL_PRINT: Cancels the current print.

# MACROS
[include state_machine.cfg]             # State Machine
[include printing.cfg]                  # Printing related macros
[include filament.cfg]                  # Filament related macros

#[include probe.cfg]                     # Probe related macros

#[include calibration.cfg]              # Printer calibration macros
#[include speed_test.cfg]               # 

#[include fast_infill.cfg]               # Fast infill

# [include test.cfg]
# [include my_macros.cfg]
# [include off/kiauh_macros.cfg]
# [include off/mom.cfg]

##################################################
# Lisamakrod
# https://www.lpomykal.cz/anycubic-kossel-klipper-macros/
##################################################
# Lukas Pomykal Klipper macros
# For more informations visit: lpomykal.cz
# Copy these macros into your printer.cfg Klipper file.


########################################
# System Macros
########################################

#[gcode_macro m205]
#gcode:
#  G4
  
#[gcode_macro m108]
#gcode:
#  G4  

[output_pin beeper]
#pin: EXP1_1 # ar37
#   Beeper pin. This parameter must be provided.
#   ar37 is the default RAMPS/MKS pin.
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

[gcode_macro M300]
#default_parameter_S=1000
#default_parameter_P=100
description: Add a tone to the tone queue.
gcode:
    # Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(1000)|int %}
    # Use a 10ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0

########################################
# Home and Calibrating Macros
########################################
[gcode_macro KOJU]
description: Goes home and then reduces head 2mm
gcode:
    _status_homing
    G28                     # Home
    G91                     # Relative move
    G1 X0 Y0 Z-2 F3000      # Move 2 mm below     
    G90                     # Restore absolute movement
    G1 X0 Y0 F3000          # Move nozzle to the center     
    M300                    # Play Tone
    _status_standby

[gcode_macro _LAZY_HOME]
description: Goes to home unless printer is already in homed state
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        KOJU
    {% endif %}


[menu __calibration_test]
type: command
name: Koju
gcode:
    KOJU

